---
layout: default
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>Welcome ;)</h1>
	<p>Here are the latest posts from me</p>
	<p>All about Speech, Deep Learning and Life.</p>
    </div>
</div>

<div class="container">
  <h1 style="font-size:40px">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <h3>
          <a class="post-link" style="color:#DC143C" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>

          <h6 class="post-meta">
            {{ post.date | date: date_format }}
          </h6>

          {% if post.excerpt %}
            {{ post.excerpt }}
          {% endif %}
        </h3>
      </li>
    {% endfor %}
  </ul>
 </div>
